
p {
  width: 50%;
}

.help {
  padding-top: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: right;
  padding-left: 790px
}

.btn {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #CFBAF5;
  color: #fbf4ea;
  font-size: 50px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.btn:hover {
  opacity: 0.7;
}


.header {
  padding: 60px;
  background-image: url('one.jpg');
  height: 780px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
    color: #ff6b30;
    letter-spacing: 1px;
    text-align: right;
    font-weight: 700;
    padding-top: 100px;
    margin-top: 10px;
    font-size: 70px;
}


body {
	background-color: #fbf4ea;
  margin: 0;
}

h2 {
	font-family: 'Libre Baskerville', serif;
	font-weight:  300;
  font-size: 50px;
	margin: auto;
   width: 60%;
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
  color: white;
}

p{
	font-weight: 300;
	 margin: auto;
   width: 70%;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
	font-weight:  500;
  font-size: 80px;
	margin: auto;
   width: 70%;
  padding: 30px;
  padding-top: 20px;
  text-align: left
  letter-spacing: 2px;
  font-size:  30px;
  color: #ff6b30;
  line-height: 1;

}

.mission {
	background-color: #CFBAF5;
	font-family: 'Libre Baskerville', serif;
	font-weight:  300;
  font-size: 25px;
	margin: auto;
  padding: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  color: white;
  width: 100%;
  box-sizing: border-box
}

.data {
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: 'Josefin Sans', sans-serif;
  color:  #fbf4ea;
  background-color: #ff6b30;
}

.tenn {
   font-size: 100px;
   font-weight: 500;
   width: 30%;
   float: left;
   text-align:center;
   padding-bottom: 42px;
   background-color: #ff6b30;
}

.seven {
  font-size: 100px;
  font-weight: 500;
  width: 30%;
  float: left;
  text-align:center;
  padding-bottom: 40px;
  background-color: #CFBAF5;
  margin-bottom: 80px;
}

.percent {
   font-size: 50px;
  font-weight: 500;
  width: 70%;
float: left;
text-align:center;
padding-top: 100px;
padding-bottom: 155px;
background-color: #ff6b30;
}

.millions{
  font-size: 50px;
  font-weight: 500;
  width: 70%;
float: left;
text-align:center;
padding-top: 100px;
padding-bottom: 100px;
background-color: #CFBAF5;
margin-bottom: 80px;
}

.own {
	padding: 10px;
  padding-bottom: 40px;
  padding-top: 60px;
  padding-left: 60px;
	 background-color: #fbf4ea;
	 line-height: 1.6;
   float: left;
   color: #ff6b30;
   font-size: 20;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 700;
   text-align: left;
   width: 40%;
   font-size: 20px;
   float: left;
   margin: 0;
}

.trash {
    filter: grayscale(100%);
     webkit-transition: all 1s ease;
     width: 40%;
     font-size: 20px;
     float: left;
     padding-top: 60px;
     padding-left: 100px;
     padding-bottom: 40px;
     transition: 1s ease;
  }

  .trash:hover {
    filter: grayscale(0%);
filter: gray;
webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
  }

.gato {
  padding: 60px;
  background-image: url('gustavo.jpg');
  height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
    color: #CFBAF5;
    letter-spacing: 1px;
    text-align: right;
    font-weight: 700;
    padding-top: 100px;
    font-size: 70px;
}

footer {
	font-family: 'Josefin Sans', sans-serif;
	font-weight:  300;
	margin: auto;
  padding: 30px;
  padding-top: 60px;
  text-align: center;
  letter-spacing: 2px;
  font-size:  10px;
  color: #ff6b30;
  background-color: #fbf4ea;
}


ul {
  list-style-type: none;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  background-color:#ghostwhite;
  margin: 0;
  padding: 10px;
  padding-left: 500px;
  padding-top: 15px;
  font-family:'Josefin Sans', sans-serif;
  color:  black;
}

a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
}

li {
  display: inline;
}
li a:hover {
  background-color: #ff6b30;
  color: white;
}

.aboutsection1 {
  padding-bottom: 80px;
}

.about {
	font-family: 'Josefin Sans', sans-serif;
	font-weight:  500;
   width: 60%;
   float: left;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #fbf4ea;
  background-color: #CFBAF5;
}

.kid {
  width: 40%;
   font-size: 20px;
   float: left;
}

.aboutus {
  padding: 60px;

  background-image: url('aboutpurple.jpg');
  height:400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
    color: #ff6b30;
    letter-spacing: 1px;
    text-align: right;
    font-weight: 700;
    margin-top: 10px;
    font-size: 70px;
}

.aboutsection2 {
  padding-bottom: 80px;}

.aboutcat {
  width: 40%;
   font-size: 20px;
   float: left;
   margin: 0;
}


.problem {
  font-family: 'Josefin Sans', sans-serif;
  font-weight:  500;
   width: 60%;
   float: left;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #ff6b30;
  background-color: #fbf4ea;
}

.better {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #fbf4ea;
  text-align: center;
  background-color: #ff6b30;
  padding-top: 200px;
  padding: 30px;
  font-size: 70px;
  display: inline-block;
  width: 100%;
}

.involved {
  font-family: 'Josefin Sans', sans-serif;
  font-weight:  500;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #ff6b30;
  background-color: #fbf4ea;
}




.logop {
  position: absolute;
  width: 2.5%;
  padding-top: 7px;
  padding-left:  200px;
  text-align: left;

}


.video {
    text-align: center;
    padding:  20px;
}

.frame {
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
  margin-top: 300px;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  margin: 50px;
}

.Impact {
  padding: 60px;
  background-image: url('veterinary.jpg');
  height:400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
    color: #fbf4ea;
    letter-spacing: 1px;
    text-align: right;
    font-weight: 700;
    padding-top: 120px;
    margin-top: 10px;
    font-size: 70px;
}


h1 {
  color:  #fbf4ea;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 120px;
    padding-left: 80px;
    text-align: center;
}

.Impact1 {
padding-top: 60px;
padding-bottom: 70px;
padding-bottom: 80px;
margin-bottom: 50px;
}

.spay {
  width: 50%;
   float: left;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #ff6b30;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 50px;
}

.rescue {
  width: 50%;
   float: left;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #ff6b30;
  font-family: 'Josefin Sans', sans-serif;
}

.Impact2 {
padding-top: 60px;
padding-bottom: 70px;
padding-bottom: 80px;
margin-bottom: 50px;
}

.community {
  width: 50%;
   float: left;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #ff6b30;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 50px;
}

.cruelty {
  width: 50%;
   float: left;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #ff6b30;
  font-family: 'Josefin Sans', sans-serif;
}

.Impact3 {
padding-top: 60px;
padding-bottom: 150px;
margin-bottom: 50px;
}

.research {
  width: 50%;
   float: left;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #ff6b30;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 50px;
}

.advocacy {
  width: 50%;
   float: left;
  text-align: left;
  letter-spacing: 2px;
  font-size:  20px;
  color: #ff6b30;
  font-family: 'Josefin Sans', sans-serif;
}

.lastimp {
  padding: 60px;
  background-image: url('puppy.jpg');
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
    color: #ff6b30;
    letter-spacing: 1px;
    text-align: right;
    font-weight: 700;
    padding-top: 100px;
    margin-top: 10px;
    font-size: 70px;
}

.Newsletter {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: #fbf4ea;
  font-weight: 700;
  padding: 30px;
  text-align: center;
  background-color: #CFBAF5;
}


.container {
  padding: 20px;
  background-color:#CFBAF5;
}

label {
  font-family: ;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid  #ff6b30;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
  padding-left: 50px;
  padding-right: 
}

input[type=submit] {
  background-color: ;
  color: #fbf4ea;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.5;
  color: #fbf4ea;
}

h4 {
  font-size: 100px;
}

.siximp {
  background-color: #ff6b30;
  text-align: center;
}


  .contact {

  padding: 60px;
  background-image: url('contact.jpg');
  height:400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  color: #ff6b30;
  letter-spacing: 1px;
  text-align: right;
  margin-top: 10px;
  font-weight: 700;
  font-size: 70px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;   
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: #ff6b30;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#CFBAF5;
}

.container1 {
  border-radius: 5px;
  background-color: ##fbf4ea;
  padding-left: 250px;
  padding-right: 250px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ff6b30;

}

.us {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 40px;
  color: #ff6b30;
  padding-bottom: 30px;
}

.social {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  color:  #CFBAF5;
  padding-top: 50px;
  padding-left: 20px;
  text-align: center;
  padding-bottom: 140px;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color:#fbf4ea;
  background-color:#CFBAF5;

}

.fa:hover {
  color:#CFBAF5;
  background-color: #ff6b30;

}

.mylinks li{
  float:left; 
  margin:0 10px;  

}

.footerlogo {
  text-align: center;
  width: 10%;
  padding-left: 610px;
  padding-bottom: 40px;
}




